[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ThirdParty/ceres"]
	path = ThirdParty/ceres
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "ThirdParty/nlopt"]
	path = ThirdParty/nlopt
	url = https://github.com/stevengj/nlopt.git
[submodule "ThirdParty/magic_enum"]
	path = ThirdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
